{
    "presets": [
        "env",
        "stage-0",
    ],
    "plugins": [
        "transform-runtime",
        ["component",[{"libraryName": "mint-ui","style": true}]],
        // "transform-remove-strict-mode",//去除严格模式
    ],
    
}